.container {
  @apply border rounded transition-all overflow-hidden grid border-foreground/30 focus-within:bg-foreground/10 text-sm shadow-sm transition-colors focus-within:outline-none focus-within:ring-1 focus-within:ring-foreground/30 disabled:cursor-not-allowed disabled:opacity-50;
}
.container:focus-within {
}
.container::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";
  /* This is how textarea text behaves */
  white-space: pre-wrap;
  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}

.control {
  @apply min-h-0 h-auto overflow-hidden px-3 py-1;
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;
}

.control,
.container::after {
  /* Identical styling required!! */
  @apply rounded w-full p-[0.5rem] bg-[transparent] border-0;
  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}
