@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 89%;
    --foreground: 0 0% 9%;
    --ring: 0 0% 9%;
    --radius: 0.65rem;
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 0 0% 89%;
    --ring: 0 0% 89%;
  }

  .favorite {
    --background: 170 60% 3%;
    --foreground: 170 40% 60%;
    --ring: 0 0% 89%;
  }

  .holiday {
    --background: 5 95% 20%;
    --foreground: 5.75 0% 90%;
    --ring: 0 0% 89%;
  }
}

@layer base {
  * {
    @apply border-foreground/30;
  }
  body {
    @apply bg-background text-foreground overflow-x-hidden;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

/* Scroll bars */

body::-webkit-scrollbar {
  width: 7px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: hsl(var(--background)); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: hsla(var(--foreground)); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid hsl(var(--background)); /* creates padding around scroll thumb */
}
